:root {
  --cell-size: 50px;
  --cell-gap: 10px;
  --field-padding: 24px;
}

.field-wrapper {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.field {
  display: grid;
  grid-template-columns: repeat(7, var(--cell-size));
  grid-template-rows: repeat(6, var(--cell-size));
  gap: var(--cell-gap);
  padding: var(--field-padding);

  background-color: #f6f6f6;
  border-radius: 24px;
  box-sizing: border-box;

  width: 458px;
  height: 452px; /* 👈 вернуть */

  /* 👇 ВАЖНО */
  align-content: space-between;
  justify-content: space-between;

  overflow: hidden;
  touch-action: none;
}
