:root {
  --cell-gap: 8px;
}

.field {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--cell-gap);
  padding: 24px;
  background-color: #f6f6f6;
  border-radius: 24px;
  width: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  height: 452px;
  overflow: visible;
}