.blue-button {
  background-color: #366AF3;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 40px;
  margin: 15px auto 0;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.blue-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(252, 118, 48, 0.3);
  
}

@media (max-height: 700px) {
  .blue-button { padding: 8px 30px; font-size: 16px; }
}