.bonuses-container {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 24px;
  padding: 20px;
  width: 458px;
  height: 95px;
}

.bonuses-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
}