.ph-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.ph-promotion h1 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  
}

.ph-promotion p {
  margin: 4px 30px 0;
  font-size: 15px;

}


.ph-promotion h2 {
  margin: 0 0 5px;
  font-size: 19px;
  font-weight: 700;
}

.highlight {
  color: #FF8D28;
}