.header-container {
  background-color: white;
  border-radius: 30px;
  padding: 30px 60px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.header-container h1 {
  margin: 0 0 15px 0;
  font-size: 32px;
  color: #1a1a1a;
}

.header-container p {
  margin: 5px 0;
  font-size: 15px;
  line-height: 1.5;
}


@media (max-height: 844px) and (max-width: 959px) {
  .header-container p {
    line-height: 1.2;
  }
  .header-container h1 {
    font-size: 26px;
    margin: 0 0 10px 0;
  }
}

@media (max-height: 700px) {
  .header-container {
    gap: 20px;
  }
}