.bsc-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: #F6F6F6;
  border-radius: 20px;
}

.bsc-white-card {
  background: white;
  border-radius: 18px;
  padding: 12px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bsc-title {
  margin: 0;
  font-size: clamp(16px, 4vw, 18px);
  text-align: center;
}

