.bgi-item {
  display: flex;
  align-items: flex-start;
  transition: all 0.3s ease;
  padding: 10px 12px;
  border-radius: 16px;
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
}

.bgi-circle {
  width: 60px;
  height: 60px;
  background: #366AF3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 
    0 4px 12px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  position: relative;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.bgi-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.bgi-text-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.bgi-name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 4px;
}

.bgi-description {
  font-size: 15px;
  margin: 0;
}

.bgi-effect {
  position: relative;
  padding-left: 20px;
  margin: 3px 0 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
}

.bgi-effect::before {
  content: "→";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  color: #366AF3;
  font-weight: 900;
  line-height: 1.3;
  transform: translateY(-2px); /* Тонкая настройка позиции */
}


@media (max-width: 400px) {
  .bgi-item { 
    gap: 10px; 
    padding: 6px; 
  }
  .bgi-circle { 
    width: 50px; 
    height: 50px; 
  }
  .bgi-icon { 
    width: 24px; 
    height: 24px; 
  }
  .bgi-name { 
    font-size: 14px; 
  }
  .bgi-description, .bgi-effect { 
    font-size: 12px; 
  }
  .bgi-effect::before {
    font-size: 13px;
    transform: translateY(-0.5px);
  }
}