.page {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100dvh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}

.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 446px;
  margin: 0 auto;
}

.game-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.game-field-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.level-name {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.game-logo {
  width: 100px;
  object-fit: contain;
  height: 40px;
}


@media (min-aspect-ratio: 1/1) {
  @media (max-height: 700px) {
    .game-content {
      transform: scale(0.8);
      transform-origin: center center;
    }
  }
}

@media (max-aspect-ratio: 1/1) {
  .game-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .game-logo {
    display: none;
  }

  @media (min-width: 700px) and (max-width: 1024px) and (min-height: 1118px){
    .game-content {
      transform: scale(1.25);
      transform-origin: center center;
    }
  }

  @media (min-width: 500px) and (max-width: 700px) {
    .game-content {
      transform: scale(0.75);
      transform-origin: center center;
    }
  }

  @media (min-width: 400px) and (max-width: 500px) {
    .game-content {
      transform: scale(0.85);
      transform-origin: center center;
    }
  }

  @media (min-width: 370px) and (max-width: 400px) {
    .game-content {
      transform: scale(0.77);
      transform-origin: center center;
    }
  }

  @media (min-width: 350px) and (max-width: 370px) {
    .game-content {
      transform: scale(0.72);
      transform-origin: center center;
    }
  }

  @media (min-width: 300px) and (max-width: 350px) {
    .game-content {
      transform: scale(0.65);
      transform-origin: center center;
    }
  }

}
