.page {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100dvh;
  width: 100vw;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden; 
  max-height: 100%;
}

.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 446px;
  margin: 0 auto;
}

.game-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden; 
  width: 100%;
  max-height: 100%;
  
}

.game-field-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.level-name {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.game-logo {
  width: 100px;
  object-fit: contain;
  height: 40px;
}


@media (max-aspect-ratio: 1/1) {
  .game-content {
    flex-direction: column; /* Элементы друг под другом */
    gap: 15px;
  }

  .game-logo {
    display: none;
  }
}

/* Если экран совсем маленький по высоте (ландшафт или старые телефоны) */
@media (max-height: 500px) {
    .game-info {
        transform: scale(0.8); /* Только в крайнем случае для очень низких экранов */
    }
    .field {
        max-height: 40dvh;
    }
}
