*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  overscroll-behavior: none;
}

#root {

}

body {
  background: linear-gradient(135deg, #E0F7FA 0%, #91cbff 50%, #91cbff 100%);
  min-height: 100dvh;
}
