.choice-card {
  background-color: #f5f5f5;
  border-radius: 40px;
  padding: 30px 35px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.card-title {
  color: #FF8D28;
  font-size: 24px;
  margin-bottom: 16px;
}

.card-description {
  font-size: 15px;
  line-height: 1.5;
  flex-grow: 1;
}

@media (max-width: 470px) {
  .choice-card {
    width: fit-content;
    padding: 20px;
  }
  .header-container {
    padding: 20px;
  }
}

@media (max-height: 844px) and (max-width: 959px) {
  .card-description {
    line-height: 1.2;
  }

  .card-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
}


@media (max-height: 700px) {
  .header-container {
    margin-bottom: 20px;
  }
}