.choice-card {
  background-color: #f5f5f5;
  border-radius: 40px;
  padding: 30px 35px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-height: 350px;
}

.card-title {
  color: #FF8D28; /* Оранжевый цвет как на макете */
  font-size: 24px;
  margin-bottom: 20px;
}

.card-description {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
  flex-grow: 1;
}


.select-button {
  background-color: #4a6cf7;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 60px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
    transition: all 0.3s ease;
  
  display: inline-block;
  outline: none;
}

.select-button:hover {
  transform: translateY(-3px);

  box-shadow: 0 10px 25px rgba(252, 118, 48, 0.4);
  
}

.select-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(252, 118, 48, 0.3);
}